/simplex/build/
/simplex/dist/
/simplex/libreria_simplex/dist/
/UML/nbproject/private/
/UML/build/
/UML/dist/
/RSA/nbproject/private/
/RSA/build/
/RSA/dist/
/DB/nbproject/private/
/DB/build/
/DB/dist/
/ManejoMemoria/nbproject/private/
/ManejoMemoria/build/
/ManejoMemoria/dist/
/serializacion/nbproject/private/
/serializacion/build/
/futbol/nbproject/private/
/futbol/build/
/WebApplication1/nbproject/private/
/futbol/dist/
/Grafico-Cliente/nbproject/private/
/Grafico-Cliente/build/